body {
  width: 100vw;
  height: 100vh;
}

h3 {
  font-size: 3rem;
}

#h11,
#h31 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Indie Flower", cursive;
  margin-top: 20px;
}

.img1 {
  width: 400px;
  height: 400px;
}

.break {
  width: 100vw;
  height: 100px;
}

li {
  text-align: center;
}

.hx {
  text-align: center;
  font-family: "Satisfy", cursive;
  font-size: 3.5rem;
}

.img2 {
  width: 260px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img3 {
  width: 50px;
  height: 50px;
}

footer {
  background-color: #cecdbd;
  margin-bottom: 0%;
  width: 100vw;
  margin: 0%;
}

.contener {
  width: 75px;
  height: 75px;
  background-color: #cecdbd;
  margin-bottom: 0%;
  display: inline-block;
}

.img4 {
  width: 50px;
  height: 50px;
}

.di {
  display: inline-block;
}

.img5 {
  width: 175px;
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fondo1 {
  background-color: darkcyan;
}

.fondo2 {
  background-color: #f7df1e;
}

.lista {
  padding-left: 30px;
  width: 250px;
  font-family: "Yomogi", cursive;
  font-size: 2.1rem;
}

#ul {
  list-style-type: none;
}
